body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nanum Gothic Coding',
    monospace;
}

form {
  display: flex;
  width: 50%;
  margin: auto;
  padding: 20px 0 0 0;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  color: white;
  margin: 0;
}

.card-header {
  text-align: center;
  overflow-wrap: break-word;
}

.card-header-title {
  width: 100%;
}

.card-header h3 {
  margin-bottom: 5%;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/black-thread.png');
  background-color: teal;
  background-position: center;
}

.input {
  margin-right: 1em;
}

.frame {
  width: 90%;
  max-width: 500px;
}

.header {
  display: block;
  text-align: center;
}

.list-hidden {
  display: none;
}

.list-wrapper {
  background-image: url('./assets/black-thread-light.png');
  background-color: teal;
  background-position: center;
  border-radius: 25px;
  padding: 1em;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: auto;
  overflow-wrap: break-word;
}

.list-item {
  width: 90%;
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
}

.list-item-uncompleted {
  color: white;
  text-decoration: none;
}

.list-item-completed {
  color: red;
  text-decoration: line-through;
  opacity: 0.6;
}

.list-item-delete {
  display: flex;
  justify-content: space-between;
}

.list-item button {
  margin-left: 10%;
  max-height: 20px;
}